.container {
  text-align: center;
  background: #236;
}

.text a {
  padding: 5px 0;
  font-size: 2.5em;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.ribbon img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

@media screen and (min-width: 450px) {
  .ribbon img {
    display: inherit;
    max-height: 90px;
  }
}

@media screen and (min-width: 600px) {
  .text a {
    font-size: 3em;
  }

  .ribbon img {
    max-height: 120px;
  }
}

@media screen and (min-width: 980px) {
  .text a {
    font-size: 3.5em;
  }

  .ribbon img {
    max-height: 100%;
  }
}
