.header {
  text-align: center;
  background: linear-gradient(180deg, #67f, #cfd8fa);
  padding: 50px 0;
}

.title a {
  font-size: 2.5em;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.logo {
  display: block;
  height: 60px;
  margin: 0 auto;
  animation: logo-spin infinite 12s linear;
}

@media screen and (min-width: 450px) {
  .title a {
    font-size: 3em;
  }

  .logo {
    height: 70px;
  }
}

@media screen and (min-width: 600px) {
  .title a {
    font-size: 3.5em;
  }

  .logo {
    height: 110px;
  }
}

@media screen and (min-width: 980px) {
  .title a {
    font-size: 4em;
  }

  .logo {
    height: 120px;
  }
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
