.container {
  width: 100%;
  max-width: 300px;
  padding-top: 10%;
  margin: 0 auto;
  text-align: center;
}

.error h1 {
  font-size: 3em;
  line-height: 1em;
  color: #607d8b;
}

.error p {
  margin-bottom: 15px;
  font-size: 2em;
  color: #607d8b;
}
