{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      0,
      {
        "peerDependencies": true
      }
    ],
    "arrow-parens": [
      1,
      "always"
    ],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/no-danger": 0
  }
}
