html,
body,
#app {
  min-height: 100% !important;
  height: 100% !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-weight: 400;
  line-height: 1.8em;
  padding: 0;
  margin: 0;
  color: #000;
}

h1 { font-size: 1.8em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.4em; }

h4 { font-size: 1.3em; }

h5 { font-size: 1.2em; }

h6 { font-size: 1.1em; }

p,
li {
  font-size: 1em;
  font-weight: 300;
}

a,
a:hover {
  color: #24b;
  font-weight: 500;
}

blockquote {
  border-left: solid #cfd8fa 5px;
  padding: 8px 0 8px 15px;
}

hr {
  margin: 30px 0 20px;
  border: 0;
  height: 2px;
  background: #cfd8fa;
  background-image: linear-gradient(to right, #eef, #24b, #eef);
}

code {
  background: #f0f4fa;
  font-family: Courier;
}

pre {
  background: #f0f4fa;
  padding: 20px;
  border-left: solid #cfd8fa 5px;
}
