.navbar {
  margin-bottom: 20px;
  text-align: center;
  background: #f0f4fa;
}

.navblock {
  outline: none;
  display: inline-block;
  padding: 0 25px;
  margin: 0 10px;
  text-transform: capitalize;
}

@media screen and (min-width: 980px) {
  .navbar {
    text-align: right;
    padding-right: 50px;
  }
}
