.date {
  float: right;
  font-weight: 400;
  color: #78f;
}

.title {
  text-align: center;
  line-height: 1.3em;
  font-weight: 700;
  padding-bottom: 0.5em;
  color: #229;
}

.subtext {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  line-height: 1.3em;
  font-weight: 400;
  font-style: italic;
  color: #78a;
}

.body {
  margin-bottom: 1em;
}

.body p,
.body a,
.body li {
  line-height: 1.3em;
}

.body strong {
  font-weight: 400;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  margin-top: 1em;
  font-weight: 500;
}
