.return {
  margin-bottom: 20px;
}

.header1 {
  padding: 5px;
  text-align: center;
}

.header1 h1 {
  color: #347;
  font-size: 3em;
}

.header1 h2 {
  font-style: italic;
  color: slategrey;
}

.header2 p {
  font-size: 0.8em;
  text-align: left;
}

.post {
  padding-top: 20px;
}
